  <!--Introduction-->
  <section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>{{intro.tagline}}</h3>
                <h2 class="section-title">{{intro.heading}}</h2>
                <p class="section-subtitle">{{intro.discription}}</p>
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-html5 fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>{{intro.icon_block_description_heading}}</h4>
                    <p>{{intro.icon_block_description_heading_p}}</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-bolt fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>{{intro.Icon_Block_h4}}</h4>
                    <p>{{intro.Icon_Block_p}}</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-tablet fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>{{intro.icon_block.h4}}</h4>
                    <p>{{intro.icon_block.p}}</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-rocket fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>{{intro.icon_block_2.h4}}</h4>
                    <p>{{intro.icon_block_2.p}}</p>
                </div>
            </div>
            <!--End of Icon Block-->

        </div>

    </div>


</section>
<!--End of Introduction-->